# Your company is Rossmann.
### Business issue : predict the stores turnover

Authors: BOIVIN Jolyanne, BOUCHER Axel, DE BROGLIE Aymon, GRIGNARD Jeremy, KARTHIGESU Dinojan, NAULET Antoine

### Table of contents

* Preprocessing
* Feature Engineering
* Validation strategy
* Training and evaluation

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import datetime
import matplotlib.pyplot as plt

# For split
from sklearn.model_selection import train_test_split
%matplotlib inline

# Data Loading

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
store = pd.read_csv('data/store.csv')

/home/ro/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
test.head(10)

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0
5   6     10          4  2015-09-17   1.0      1            0              0
6   7     11          4  2015-09-17   1.0      1            0              0
7   8     12          4  2015-09-17   1.0      1            0              0
8   9     13          4  2015-09-17   1.0      1            0              0
9  10     14          4  2015-09-17   1.0      1            0              0

In [5]:
distinctIdStoreTest = test.Id.unique()
distinctIdStoreTest

array([    1,     2,     3, ..., 41086, 41087, 41088])

In [6]:
test[test.Store == 3].sort_values(by='Date', ascending=True)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
40233,40234,3,6,2015-08-01,1.0,0,0,0
39377,39378,3,7,2015-08-02,0.0,0,0,0
38521,38522,3,1,2015-08-03,1.0,1,0,1
37665,37666,3,2,2015-08-04,1.0,1,0,1
36809,36810,3,3,2015-08-05,1.0,1,0,1
35953,35954,3,4,2015-08-06,1.0,1,0,1
35097,35098,3,5,2015-08-07,1.0,1,0,1
34241,34242,3,6,2015-08-08,1.0,0,0,0
33385,33386,3,7,2015-08-09,0.0,0,0,0
32529,32530,3,1,2015-08-10,1.0,0,0,1
31673,31674,3,2,2015-08-11,1.0,0,0,1
30817,30818,3,3,2015-08-12,1.0,0,0,0
29961,29962,3,4,2015-08-13,1.0,0,0,0
29105,29106,3,5,2015-08-14,1.0,0,0,0
28249,28250,3,6,2015-08-15,1.0,0,0,0
27393,27394,3,7,2015-08-16,0.0,0,0,0
26537,26538,3,1,2015-08-17,1.0,1,0,0
25681,25682,3,2,2015-08-18,1.0,1,0,0
24825,24826,3,3,2015-08-19,1.0,1,0,0
23969,23970,3,4,2015-08-20,1.0,1,0,0
23113,23114,3,5,2015-08-21,1.0,1,0,0
22257,22258,3,6,2015-08-22,1.0,0,0,0
21401,21402,3,7,2015-08-23,0.0,0,0,0
20545,20546,3,1,2015-08-24,1.0,0,0,0
19689,19690,3,2,2015-08-25,1.0,0,0,0
18833,18834,3,3,2015-08-26,1.0,0,0,0
17977,17978,3,4,2015-08-27,1.0,0,0,0
17121,17122,3,5,2015-08-28,1.0,0,0,0
16265,16266,3,6,2015-08-29,1.0,0,0,0
15409,15410,3,7,2015-08-30,0.0,0,0,0
14553,14554,3,1,2015-08-31,1.0,1,0,0
13697,13698,3,2,2015-09-01,1.0,1,0,0
12841,12842,3,3,2015-09-02,1.0,1,0,0
11985,11986,3,4,2015-09-03,1.0,1,0,0
11129,11130,3,5,2015-09-04,1.0,1,0,0
10273,10274,3,6,2015-09-05,1.0,0,0,0
9417,9418,3,7,2015-09-06,0.0,0,0,0
8561,8562,3,1,2015-09-07,1.0,0,0,0
7705,7706,3,2,2015-09-08,1.0,0,0,0
6849,6850,3,3,2015-09-09,1.0,0,0,0
5993,5994,3,4,2015-09-10,1.0,0,0,0
5137,5138,3,5,2015-09-11,1.0,0,0,0
4281,4282,3,6,2015-09-12,1.0,0,0,0
3425,3426,3,7,2015-09-13,0.0,0,0,0
2569,2570,3,1,2015-09-14,1.0,1,0,0
1713,1714,3,2,2015-09-15,1.0,1,0,0
857,858,3,3,2015-09-16,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0

In [7]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

# First Look

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null object
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null object
Open             41077 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

In [10]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
Store                        1115 non-null int64
StoreType                    1115 non-null object
Assortment                   1115 non-null object
CompetitionDistance          1112 non-null float64
CompetitionOpenSinceMonth    761 non-null float64
CompetitionOpenSinceYear     761 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              571 non-null float64
Promo2SinceYear              571 non-null float64
PromoInterval                571 non-null object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [11]:
print('Here we can see that there are missing values for several features in store:', store.isnull().sum().sum())

Here we can see that there are missing values for several features in store: 2343

# Preprocessing

# Preprocessing on Train and Test

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null object
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null object
Open             41077 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

#### According to the documentation

* DateTime for Date
* StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None

### Change the date to hundle datetime object

In [14]:
train['Date'] = pd.to_datetime(train['Date'])
test['Date'] = pd.to_datetime(test['Date'])

### We first replace the '0' values present in the train and test set by 0 (int) Next we use get dummies for each present value

In [15]:
print("Train before", train['StateHoliday'].unique())
train.replace({"StateHoliday": {"0": 0}}, inplace=True)
print("Train Before", train['StateHoliday'].unique())

Train before ['0' 'a' 'b' 'c' 0]
Train Before [0 'a' 'b' 'c']

In [16]:
print("Test After", test['StateHoliday'].unique())
test.replace({"StateHoliday": {"0": 0}}, inplace=True)
print("Test After", test['StateHoliday'].unique())

Test After ['0' 'a']
Test After [0 'a']

In [17]:
train[['StateHoliday_0', 'StateHoliday_a', 'StateHoliday_b', 'StateHoliday_c']] = pd.get_dummies(train['StateHoliday'])
test[['StateHoliday_0', 'StateHoliday_a']] = pd.get_dummies(test['StateHoliday'])
train.drop('StateHoliday', axis=1, inplace=True)
test.drop('StateHoliday', axis=1, inplace=True)

### Here we check the DayOfWeek for each Nan Values for the feature Open
#### As we can see, there is no Sunday. Therefore we replace the NaN values by 1 (the store is open), To be more realistic we should map the day with a American calendar to see if each day is a sunday, special day, close day, holiday, public bank holiday

In [18]:
test[test['Open'].isnull()]

,Id,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a
479,480,622,4,2015-09-17,NaN,1,0,1,0
1335,1336,622,3,2015-09-16,NaN,1,0,1,0
2191,2192,622,2,2015-09-15,NaN,1,0,1,0
3047,3048,622,1,2015-09-14,NaN,1,0,1,0
4759,4760,622,6,2015-09-12,NaN,0,0,1,0
5615,5616,622,5,2015-09-11,NaN,0,0,1,0
6471,6472,622,4,2015-09-10,NaN,0,0,1,0
7327,7328,622,3,2015-09-09,NaN,0,0,1,0
8183,8184,622,2,2015-09-08,NaN,0,0,1,0
9039,9040,622,1,2015-09-07,NaN,0,0,1,0
10751,10752,622,6,2015-09-05,NaN,0,0,1,0

In [19]:
test.replace({"Open": {np.nan: 1}}, inplace=True)

In [20]:
test[test['Open'].isnull()]

Empty DataFrame
Columns: [Id, Store, DayOfWeek, Date, Open, Promo, SchoolHoliday, StateHoliday_0, StateHoliday_a]
Index: []

# Preprocessing on Store

In [21]:
objectFeaturesStore = ['StoreType', 'Assortment', 'PromoInterval']

In [22]:
store[objectFeaturesStore].head()

  StoreType Assortment    PromoInterval
0         c          a              NaN
1         a          a  Jan,Apr,Jul,Oct
2         a          a  Jan,Apr,Jul,Oct
3         c          c              NaN
4         a          a              NaN

# According to the documentation

* StoreType - differentiates between 4 different store models: a, b, c, d
* Assortment - describes an assortment level: a = basic, b = extra, c = extended
* PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

#### Replace missing values by mean

In [23]:
# Features to preprecess numerically
# 3 features are object type
featuresToPreprocessByMean = ['Store', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear']

In [24]:
for idx in featuresToPreprocessByMean:
    store[idx] = store[idx].fillna(np.mean(store[idx]))

In [25]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
Store                        1115 non-null int64
StoreType                    1115 non-null object
Assortment                   1115 non-null object
CompetitionDistance          1115 non-null float64
CompetitionOpenSinceMonth    1115 non-null float64
CompetitionOpenSinceYear     1115 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              1115 non-null float64
Promo2SinceYear              1115 non-null float64
PromoInterval                571 non-null object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

#### StoreType, Assortment, PromoInterval

In [26]:
print('distinct_storeType:', store['StoreType'].unique(), '\ndistinct_assortment: ', store['Assortment'].unique(), '\ndistinct_promoInterval: ', store['PromoInterval'].unique())

distinct_storeType: ['c' 'a' 'd' 'b']
distinct_assortment:  ['a' 'c' 'b']
distinct_promoInterval:  [nan 'Jan,Apr,Jul,Oct' 'Feb,May,Aug,Nov' 'Mar,Jun,Sept,Dec']

In [27]:
store[['StoreType_a', 'StoreType_b', 'StoreType_c', 'StoreType_d']] = pd.get_dummies(store['StoreType'])
store[['Assortment_a', 'Assortment_b', 'Assortment_c']] = pd.get_dummies(store['Assortment'])
store.drop('StoreType', axis=1, inplace=True)
store.drop('Assortment', axis=1, inplace=True)

In [28]:
store.replace({"PromoInterval": {np.nan: 0}}, inplace=True)

In [29]:
store.head()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c
0,1,1270.0,9.0,2008.0,0,23.595447,2011.763573,0,0,0,1,0,1,0,0
1,2,570.0,11.0,2007.0,1,13.000000,2010.000000,"Jan,Apr,Jul,Oct",1,0,0,0,1,0,0
2,3,14130.0,12.0,2006.0,1,14.000000,2011.000000,"Jan,Apr,Jul,Oct",1,0,0,0,1,0,0
3,4,620.0,9.0,2009.0,0,23.595447,2011.763573,0,0,0,1,0,0,0,1
4,5,29910.0,4.0,2015.0,0,23.595447,2011.763573,0,1,0,0,0,1,0,0

In [30]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 15 columns):
Store                        1115 non-null int64
CompetitionDistance          1115 non-null float64
CompetitionOpenSinceMonth    1115 non-null float64
CompetitionOpenSinceYear     1115 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              1115 non-null float64
Promo2SinceYear              1115 non-null float64
PromoInterval                1115 non-null object
StoreType_a                  1115 non-null uint8
StoreType_b                  1115 non-null uint8
StoreType_c                  1115 non-null uint8
StoreType_d                  1115 non-null uint8
Assortment_a                 1115 non-null uint8
Assortment_b                 1115 non-null uint8
Assortment_c                 1115 non-null uint8
dtypes: float64(5), int64(2), object(1), uint8(7)
memory usage: 77.4+ KB

In [31]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
promoMonths = ['PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr', 'PromoMay', 'PromoJun', 'PromoJul', 
               'PromoAug', 'PromoSept', 'PromoOct', 'PromoNov', 'PromoDec']

# Ajout des colonnes pour tous les moisPromo
# On mettra 1 qd promo, 0 sinon
for v in promoMonths:
    store[v] = 0
    
for idx, val in enumerate(store['PromoInterval']):
    if val != 0:
        mons = val.split(',')
        for mon in mons:
            columnName = 'Promo' + mon
            store.loc[idx, columnName] = 1

In [32]:
##On rajoute une colonne pour avoir la data du dbut de la competition ainsi qu'une date du dbut de promo 2
def date_init_compet (col1, col2):
    if col1 != 0:
        return pd.to_datetime(str('01/')+str((int(col1)))+"/"+str(int(col2)))
    
def date_init_promo(week,year):
    if week != 0: 
        return pd.to_datetime(str(int(week)) + '/' + str(int(year)) + '/' + '0', format='%W/%Y/%w')
    
store['BeginCompetition'] = store.apply(lambda x : date_init_compet(x['CompetitionOpenSinceMonth'], x['CompetitionOpenSinceYear']),axis=1) 
store['BeginPromo2'] = store.apply(lambda x : date_init_promo(x['Promo2SinceWeek'], x['Promo2SinceYear']),axis=1) 

    
store.head()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,StoreType_a,StoreType_b,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,1270.0,9.0,2008.0,0,23.595447,2011.763573,0,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,2,570.0,11.0,2007.0,1,13.000000,2010.000000,"Jan,Apr,Jul,Oct",1,0,...,0,0,1,0,0,1,0,0,2007-01-11,2010-04-04
2,3,14130.0,12.0,2006.0,1,14.000000,2011.000000,"Jan,Apr,Jul,Oct",1,0,...,0,0,1,0,0,1,0,0,2006-01-12,2011-04-10
3,4,620.0,9.0,2009.0,0,23.595447,2011.763573,0,0,0,...,0,0,0,0,0,0,0,0,2009-01-09,2011-06-12
4,5,29910.0,4.0,2015.0,0,23.595447,2011.763573,0,1,0,...,0,0,0,0,0,0,0,0,2015-01-04,2011-06-12

In [33]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 29 columns):
Store                        1115 non-null int64
CompetitionDistance          1115 non-null float64
CompetitionOpenSinceMonth    1115 non-null float64
CompetitionOpenSinceYear     1115 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              1115 non-null float64
Promo2SinceYear              1115 non-null float64
PromoInterval                1115 non-null object
StoreType_a                  1115 non-null uint8
StoreType_b                  1115 non-null uint8
StoreType_c                  1115 non-null uint8
StoreType_d                  1115 non-null uint8
Assortment_a                 1115 non-null uint8
Assortment_b                 1115 non-null uint8
Assortment_c                 1115 non-null uint8
PromoJan                     1115 non-null int64
PromoFeb                     1115 non-null int64
PromoMar                     1115 non-null int64
PromoApr                     1115 non-null int64
PromoMay                     1115 non-null int64
PromoJun                     1115 non-null int64
PromoJul                     1115 non-null int64
PromoAug                     1115 non-null int64
PromoSept                    1115 non-null int64
PromoOct                     1115 non-null int64
PromoNov                     1115 non-null int64
PromoDec                     1115 non-null int64
BeginCompetition             1115 non-null datetime64[ns]
BeginPromo2                  1115 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(14), object(1), uint8(7)
memory usage: 199.3+ KB

#### Merge Train and Store

In [34]:
train.columns, store.columns

(Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
        'SchoolHoliday', 'StateHoliday_0', 'StateHoliday_a', 'StateHoliday_b',
        'StateHoliday_c'],
       dtype='object'),
 Index(['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
        'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
        'Promo2SinceYear', 'PromoInterval', 'StoreType_a', 'StoreType_b',
        'StoreType_c', 'StoreType_d', 'Assortment_a', 'Assortment_b',
        'Assortment_c', 'PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr',
        'PromoMay', 'PromoJun', 'PromoJul', 'PromoAug', 'PromoSept', 'PromoOct',
        'PromoNov', 'PromoDec', 'BeginCompetition', 'BeginPromo2'],
       dtype='object'))

In [35]:
train[['ld','md','mc','jd','vd','sd','dc']] = pd.get_dummies(train['DayOfWeek'])
test[['ld','md','mc','jd','vd','sd','dc']] = pd.get_dummies(test['DayOfWeek'])

In [36]:
df = pd.merge(train, store, left_on='Store', right_on='Store')

In [37]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,5,2015-07-31,5263,555,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,1,4,2015-07-30,5020,546,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
2,1,3,2015-07-29,4782,523,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
3,1,2,2015-07-28,5011,560,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
4,1,1,2015-07-27,6102,612,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 47 columns):
Store                        1017209 non-null int64
DayOfWeek                    1017209 non-null int64
Date                         1017209 non-null datetime64[ns]
Sales                        1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
SchoolHoliday                1017209 non-null int64
StateHoliday_0               1017209 non-null uint8
StateHoliday_a               1017209 non-null uint8
StateHoliday_b               1017209 non-null uint8
StateHoliday_c               1017209 non-null uint8
ld                           1017209 non-null uint8
md                           1017209 non-null uint8
mc                           1017209 non-null uint8
jd                           1017209 non-null uint8
vd                           1017209 non-null uint8
sd                           1017209 non-null uint8
dc                           1017209 non-null uint8
CompetitionDistance          1017209 non-null float64
CompetitionOpenSinceMonth    1017209 non-null float64
CompetitionOpenSinceYear     1017209 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              1017209 non-null float64
Promo2SinceYear              1017209 non-null float64
PromoInterval                1017209 non-null object
StoreType_a                  1017209 non-null uint8
StoreType_b                  1017209 non-null uint8
StoreType_c                  1017209 non-null uint8
StoreType_d                  1017209 non-null uint8
Assortment_a                 1017209 non-null uint8
Assortment_b                 1017209 non-null uint8
Assortment_c                 1017209 non-null uint8
PromoJan                     1017209 non-null int64
PromoFeb                     1017209 non-null int64
PromoMar                     1017209 non-null int64
PromoApr                     1017209 non-null int64
PromoMay                     1017209 non-null int64
PromoJun                     1017209 non-null int64
PromoJul                     1017209 non-null int64
PromoAug                     1017209 non-null int64
PromoSept                    1017209 non-null int64
PromoOct                     1017209 non-null int64
PromoNov                     1017209 non-null int64
PromoDec                     1017209 non-null int64
BeginCompetition             1017209 non-null datetime64[ns]
BeginPromo2                  1017209 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(5), int64(20), object(1), uint8(18)
memory usage: 250.3+ MB

In [39]:
df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,StateHoliday_b,...,PromoMar,PromoApr,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,...,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01,9.694753e-01,1.991724e-02,6.576820e-03,...,9.581119e-02,2.881630e-01,1.165896e-01,9.581119e-02,2.881630e-01,1.165896e-01,9.581119e-02,2.881630e-01,1.165896e-01,9.581119e-02
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01,1.720261e-01,1.397160e-01,8.083051e-02,...,2.943323e-01,4.529076e-01,3.209308e-01,2.943323e-01,4.529076e-01,3.209308e-01,2.943323e-01,4.529076e-01,3.209308e-01,2.943323e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [40]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,5,2015-07-31,5263,555,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,1,4,2015-07-30,5020,546,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
2,1,3,2015-07-29,4782,523,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
3,1,2,2015-07-28,5011,560,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
4,1,1,2015-07-27,6102,612,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
5,1,7,2015-07-26,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
6,1,6,2015-07-25,4364,500,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
7,1,5,2015-07-24,3706,459,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
8,1,4,2015-07-23,3769,503,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
9,1,3,2015-07-22,3464,463,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
10,1,2,2015-07-21,3558,469,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
11,1,1,2015-07-20,4395,526,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
12,1,7,2015-07-19,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
13,1,6,2015-07-18,4406,512,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
14,1,5,2015-07-17,4852,519,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
15,1,4,2015-07-16,4427,517,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
16,1,3,2015-07-15,4767,550,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
17,1,2,2015-07-14,5042,544,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
18,1,1,2015-07-13,5054,553,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
19,1,7,2015-07-12,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
20,1,6,2015-07-11,3530,441,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
21,1,5,2015-07-10,3808,449,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
22,1,4,2015-07-09,3897,480,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
23,1,3,2015-07-08,3797,485,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
24,1,2,2015-07-07,3650,485,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
25,1,1,2015-07-06,4359,540,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
26,1,7,2015-07-05,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
27,1,6,2015-07-04,4797,560,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
28,1,5,2015-07-03,4665,538,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
29,1,4,2015-07-02,5558,573,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017179,1115,3,2013-01-30,3813,287,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017180,1115,2,2013-01-29,3397,277,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017181,1115,1,2013-01-28,3615,271,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017182,1115,7,2013-01-27,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017183,1115,6,2013-01-26,4896,394,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017184,1115,5,2013-01-25,5082,373,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017185,1115,4,2013-01-24,5650,366,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017186,1115,3,2013-01-23,5176,336,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017187,1115,2,2013-01-22,5388,329,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017188,1115,1,2013-01-21,3723,243,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017189,1115,7,2013-01-20,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017190,1115,6,2013-01-19,5207,369,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017191,1115,5,2013-01-18,4287,296,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017192,1115,4,2013-01-17,3039,244,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017193,1115,3,2013-01-16,3064,237,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017194,1115,2,2013-01-15,3528,277,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017195,1115,1,2013-01-14,3158,252,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017196,1115,7,2013-01-13,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017197,1115,6,2013-01-12,4497,350,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017198,1115,5,2013-01-11,5142,351,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017199,1115,4,2013-01-10,5007,339,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017200,1115,3,2013-01-09,4649,324,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017201,1115,2,2013-01-08,5243,341,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017202,1115,1,2013-01-07,6905,471,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017203,1115,7,2013-01-06,0,0,0,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017204,1115,6,2013-01-05,4771,339,1,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017205,1115,5,2013-01-04,4540,326,1,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017206,1115,4,2013-01-03,4297,300,1,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017207,1115,3,2013-01-02,3697,305,1,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017208,1115,2,2013-01-01,0,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03

### Merge Test et Store

In [41]:
test.columns, store.columns

(Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'SchoolHoliday',
        'StateHoliday_0', 'StateHoliday_a', 'ld', 'md', 'mc', 'jd', 'vd', 'sd',
        'dc'],
       dtype='object'),
 Index(['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
        'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
        'Promo2SinceYear', 'PromoInterval', 'StoreType_a', 'StoreType_b',
        'StoreType_c', 'StoreType_d', 'Assortment_a', 'Assortment_b',
        'Assortment_c', 'PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr',
        'PromoMay', 'PromoJun', 'PromoJul', 'PromoAug', 'PromoSept', 'PromoOct',
        'PromoNov', 'PromoDec', 'BeginCompetition', 'BeginPromo2'],
       dtype='object'))

In [42]:
df_test = pd.merge(test, store, left_on='Store', right_on='Store')

In [43]:
df_test.head()

,Id,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,ld,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,1,4,2015-09-17,1.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,857,1,3,2015-09-16,1.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
2,1713,1,2,2015-09-15,1.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
3,2569,1,1,2015-09-14,1.0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
4,3425,1,7,2015-09-13,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12

In [44]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 44 columns):
Id                           41088 non-null int64
Store                        41088 non-null int64
DayOfWeek                    41088 non-null int64
Date                         41088 non-null datetime64[ns]
Open                         41088 non-null float64
Promo                        41088 non-null int64
SchoolHoliday                41088 non-null int64
StateHoliday_0               41088 non-null uint8
StateHoliday_a               41088 non-null uint8
ld                           41088 non-null uint8
md                           41088 non-null uint8
mc                           41088 non-null uint8
jd                           41088 non-null uint8
vd                           41088 non-null uint8
sd                           41088 non-null uint8
dc                           41088 non-null uint8
CompetitionDistance          41088 non-null float64
CompetitionOpenSinceMonth    41088 non-null float64
CompetitionOpenSinceYear     41088 non-null float64
Promo2                       41088 non-null int64
Promo2SinceWeek              41088 non-null float64
Promo2SinceYear              41088 non-null float64
PromoInterval                41088 non-null object
StoreType_a                  41088 non-null uint8
StoreType_b                  41088 non-null uint8
StoreType_c                  41088 non-null uint8
StoreType_d                  41088 non-null uint8
Assortment_a                 41088 non-null uint8
Assortment_b                 41088 non-null uint8
Assortment_c                 41088 non-null uint8
PromoJan                     41088 non-null int64
PromoFeb                     41088 non-null int64
PromoMar                     41088 non-null int64
PromoApr                     41088 non-null int64
PromoMay                     41088 non-null int64
PromoJun                     41088 non-null int64
PromoJul                     41088 non-null int64
PromoAug                     41088 non-null int64
PromoSept                    41088 non-null int64
PromoOct                     41088 non-null int64
PromoNov                     41088 non-null int64
PromoDec                     41088 non-null int64
BeginCompetition             41088 non-null datetime64[ns]
BeginPromo2                  41088 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int64(18), object(1), uint8(16)
memory usage: 9.7+ MB

In [45]:
df_test

,Id,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,ld,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,1,4,2015-09-17,1.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,857,1,3,2015-09-16,1.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
2,1713,1,2,2015-09-15,1.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
3,2569,1,1,2015-09-14,1.0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
4,3425,1,7,2015-09-13,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
5,4281,1,6,2015-09-12,1.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
6,5137,1,5,2015-09-11,1.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
7,5993,1,4,2015-09-10,1.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
8,6849,1,3,2015-09-09,1.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
9,7705,1,2,2015-09-08,1.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
10,8561,1,1,2015-09-07,1.0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
11,9417,1,7,2015-09-06,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
12,10273,1,6,2015-09-05,1.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
13,11129,1,5,2015-09-04,1.0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
14,11985,1,4,2015-09-03,1.0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
15,12841,1,3,2015-09-02,1.0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
16,13697,1,2,2015-09-01,1.0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
17,14553,1,1,2015-08-31,1.0,1,1,1,0,1,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
18,15409,1,7,2015-08-30,0.0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
19,16265,1,6,2015-08-29,1.0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
20,17121,1,5,2015-08-28,1.0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
21,17977,1,4,2015-08-27,1.0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
22,18833,1,3,2015-08-26,1.0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
23,19689,1,2,2015-08-25,1.0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
24,20545,1,1,2015-08-24,1.0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
25,21401,1,7,2015-08-23,0.0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
26,22257,1,6,2015-08-22,1.0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
27,23113,1,5,2015-08-21,1.0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
28,23969,1,4,2015-08-20,1.0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
29,24825,1,3,2015-08-19,1.0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,16264,1115,7,2015-08-30,0.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41059,17120,1115,6,2015-08-29,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41060,17976,1115,5,2015-08-28,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41061,18832,1115,4,2015-08-27,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41062,19688,1115,3,2015-08-26,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41063,20544,1115,2,2015-08-25,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41064,21400,1115,1,2015-08-24,1.0,0,1,1,0,1,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41065,22256,1115,7,2015-08-23,0.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41066,23112,1115,6,2015-08-22,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41067,23968,1115,5,2015-08-21,1.0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41068,24824,1115,4,2015-08-20,1.0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41069,25680,1115,3,2015-08-19,1.0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41070,26536,1115,2,2015-08-18,1.0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41071,27392,1115,1,2015-08-17,1.0,1,1,1,0,1,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41072,28248,1115,7,2015-08-16,0.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41073,29104,1115,6,2015-08-15,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41074,29960,1115,5,2015-08-14,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41075,30816,1115,4,2015-08-13,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41076,31672,1115,3,2015-08-12,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41077,32528,1115,2,2015-08-11,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41078,33384,1115,1,2015-08-10,1.0,0,1,1,0,1,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41079,34240,1115,7,2015-08-09,0.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41080,35096,1115,6,2015-08-08,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41081,35952,1115,5,2015-08-07,1.0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41082,36808,1115,4,2015-08-06,1.0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41083,37664,1115,3,2015-08-05,1.0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41084,38520,1115,2,2015-08-04,1.0,1,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41085,39376,1115,1,2015-08-03,1.0,1,1,1,0,1,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41086,40232,1115,7,2015-08-02,0.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41087,41088,1115,6,2015-08-01,1.0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03

# Feature Engineering

## Code Antoine et Generator
### UTILISER LE GENERATOR POUR AJOUTER DES FEATURES :)

In [46]:
  def create_promo2(promo, curr_date,begin_date, interval ):
        list_mois = ['Jan','Feb','Mar', 'Apr','May','Jun', 'Jul', 'Aug', 'Sept', 'Oct','Nov','Dec']
        if promo  and (curr_date > begin_date) and (list_mois[curr_date.month -1 ] in interval.split(',')):
            return 1 
        else:
            return 0

In [47]:
def generator (df) :
    # produit les elements exploitables : date de reference en format date, toute les en autres en distance 
    # de la reference
    # exploite les donnees de promo2 pour savoir a chaque entree si le magasin est en promo2
    # retourne les elements caracteristiques de la date actuelle

    df['duree_concurence']= (df['Date'] - pd.to_datetime(df['BeginCompetition'])).dt.days
    df['promo2_today'] =df.apply( lambda x : create_promo2(x['Promo2'],x['Date'], x['BeginPromo2'] , x['PromoInterval']),axis = 1 )
    df['year']=df['Date'].apply(lambda x: x.year)
    df['month']=df['Date'].apply(lambda x: x.month)
    df['day']=df['Date'].apply(lambda x: x.day)
    df['dayofyear']=df['Date'].apply(lambda x: x.dayofyear)
    df['weekofyear']=df['Date'].apply(lambda x: x.weekofyear)
    df['dayofweek']=df['Date'].apply(lambda x: x.dayofweek)
    df['quarter']=df['Date'].apply(lambda x: x.quarter)
    
    df['duree_promo2'] = (df['Date'] - df['BeginPromo2']).dt.days

    return (df)

Fonction qui parcourt les donnes et va chercher si il y a le jour de l'anne d'avant

In [48]:
df = generator(df)
df_test = generator(df_test)

## construction d'un DF des statistiques des ventes du fichier train

In [49]:
df_s = df
#je cree un DF avec les statistiques que j'estime utile a capturer dans le fichier train
#pour les reinjecter ensuite sous forme de features dans train et test
def statMaker (dfs, group):
    df_stat=[]
    df_stat=pd.DataFrame(df_stat)   
    for week in range(52):
        week=week+1
        nom = 'mean_w_' + str(week)
        df_stat[nom]=df_s[(df_s['weekofyear']==week)].groupby('Store')[group].mean()
    df_stat=df_stat.reset_index()

    df_w=[]
    df_w=pd.DataFrame(df_w)
    for week in range(52):
        week=week+1
        for dow in range(7):
            dow=dow+1
            nom = 'w'+str(week)+'_d'+str(dow)
            df_w[nom]=df_s[(df_s['weekofyear']==week) & (df_s['dayofweek']==dow)].groupby('Store')[group].mean()
    df_w=df_w.reset_index()

    df_m=[]
    df_m=pd.DataFrame(df_m)
    for month in range(12):
        month=month+1
        nom = 'm'+str(month)
        df_m[nom]=df_s[(df_s['month']==month)].groupby('Store')[group].mean()
    df_m=df_m.reset_index()

    df_dm=[]
    df_dm=pd.DataFrame(df_dm)    
    for month in range(12):
        month=month+1
        nom = 'dif_m'+str(month)
        df_dm[nom]=df_s[(df_s['month']==month) & (df_s['year']==2014)].groupby('Store')[group].mean() - df_s[(df_s['month']==month) & (df_s['year']==2013)].groupby('Store')[group].mean()
    df_dm=df_dm.reset_index()

    df_dq=[]
    df_dq=pd.DataFrame(df_dq)
    for quarter in range(4):
        quarter+=1
        nom = 'dif_q'+str(quarter)
        df_dq[nom]=df_s[(df_s['quarter']==quarter) & (df_s['year']==2014)].groupby('Store')[group].mean() - df_s[(df_s['quarter']==quarter) & (df_s['year']==2013)].groupby('Store')[group].mean()
    df_dq=df_dq.reset_index()

    df_stat = pd.merge(df_stat, df_w, left_on='Store', right_on='Store')
    df_stat = pd.merge(df_stat, df_m, left_on='Store', right_on='Store')
    df_stat = pd.merge(df_stat, df_dm, left_on='Store', right_on='Store')
    df_stat = pd.merge(df_stat, df_dq, left_on='Store', right_on='Store')
    return (df_stat)

In [50]:
df_stat_sales = statMaker (df, 'Sales')
df_stat_cust = statMaker (df, 'Customers')
df_stat_sales=df_stat_sales.fillna(0)
df_stat_cust=df_stat_cust.fillna(0)
df_stat_sales.to_csv("stat_sales.csv", index=False)
df_stat_cust.to_csv("stat_cust.csv", index=False)

In [51]:
#affecte la moyenne des ventes des mme semaines de l'anne pour les annes connues
def affect_meanW (col_store, col_woy, df_stat):
    col_store = int(col_store)
    nom='mean_w_' + str(col_woy)
    res = df_stat[df_stat['Store']==col_store][nom]
    return int(res)

#affecte la moyenne des ventes des mme jours des mmes semaines pour les annes connues
def affect_meanD (col_store,col_woy, col_dow, df_stat):
    col_store = int(col_store)
    col_dow+=1
    nom = 'w'+str(col_woy)+'_d'+str(col_dow)
    res = df_stat[df_stat['Store']==col_store][nom]
    return int(res)

#affecte la moyenne des ventes des mme mois pour les annes connues
def affect_meanM (col_store, col_month, df_stat):
    col_store = int(col_store)
    nom= 'm'+str(col_month)
    res = df_stat[df_stat['Store']==col_store][nom]
    return int(res)

#affecte l'volution entre les memes mois connus
def affect_difM (col_store, col_month, df_stat):
    col_store = int(col_store)
    nom = 'dif_m'+str(col_month)
    res = df_stat[df_stat['Store']==col_store][nom]
    return int(res)

#affecte l'volution entre les memes trimestres connus
def affect_difQ (col_store, col_quarter, df_stat):
    col_store = int(col_store)
    nom = 'dif_q'+str(col_quarter)
    res = df_stat[df_stat['Store']==col_store][nom]
    return int(res)

def generator_stat (df, df_stat, name) :
    df[name+'_mean_w']=df.apply( lambda x : affect_meanW(x['Store'],x['weekofyear'], df_stat),axis = 1 )
    df[name+'_mean_d']=df.apply( lambda x : affect_meanD(x['Store'],x['weekofyear'], x['dayofweek'], df_stat),axis = 1 )
    df[name+'_mean_m']=df.apply( lambda x : affect_meanM(x['Store'],x['month'], df_stat),axis = 1)
    df[name+'_dif_m']=df.apply( lambda x : affect_difM(x['Store'],x['month'], df_stat),axis = 1)
    df[name+'_dif_q']=df.apply( lambda x : affect_difQ(x['Store'],x['quarter'], df_stat),axis = 1)
    return (df)

In [52]:
#je ne garde que les resultats de la periode du test et de l annee passee soit +/-50 000 lignes

df=df[(df['year']>2013) & (df['month']>2) & (df['month']<11) ]

df= generator_stat(df, df_stat_sales,'sales')
df= generator_stat(df, df_stat_cust,'cust')
df_test = generator_stat(df_test, df_stat_sales,'sales')
df_test = generator_stat(df_test, df_stat_cust,'cust')


df['ratio_m']= df['sales_mean_m']/(df['cust_mean_m']+0.1)
df['ratio_w']= df['sales_mean_w']/(df['cust_mean_w']+0.1)
df['ratio_d']= df['sales_mean_d']/(df['cust_mean_d']+0.1)
df_test['ratio_m']= df_test['sales_mean_m']/(df_test['cust_mean_m']+0.1)
df_test['ratio_w']= df_test['sales_mean_w']/(df_test['cust_mean_w']+0.1)
df_test['ratio_d']= df_test['sales_mean_d']/(df_test['cust_mean_d']+0.1)

/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [53]:
list_date = [ 'Date', 'BeginCompetition', 'BeginPromo2',]
for col in list_date :
    df[col] = pd.to_datetime(df[col])
    df[col] =df[col].apply(lambda x: x.toordinal())
    df_test[col] = pd.to_datetime(df_test[col])
    df_test[col] =df_test[col].apply(lambda x: x.toordinal())

/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/ro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [54]:
#df=df_save.copy
#df_test=df_save_test.copy
df_save = df.copy()
df_save_test = df_test.copy()

In [55]:
featuresToNorm = ['CompetitionDistance', 
       'duree_concurence', 'month', 'weekofyear', 'dayofweek',
        'duree_promo2', 'sales_mean_w',
       'sales_mean_d', 'sales_mean_m', 'sales_dif_m', 'sales_dif_q',
       'cust_mean_w', 'cust_mean_d', 'cust_mean_m', 'cust_dif_m', 'cust_dif_q',
       'ratio_m', 'ratio_w', 'ratio_d']
featuresToNormTest = ['CompetitionDistance', 
       'duree_concurence', 'month', 'weekofyear', 'dayofweek',
        'duree_promo2', 'sales_mean_w',
       'sales_mean_d', 'sales_mean_m', 'sales_dif_m', 'sales_dif_q',
       'cust_mean_w', 'cust_mean_d', 'cust_mean_m', 'cust_dif_m', 'cust_dif_q',
       'ratio_m', 'ratio_w', 'ratio_d']

In [56]:
#normalisation
def normalize(df):
    list_col = df.columns.values.tolist()
    for col in list_col :
        df[col]= (df[col])/(df[col].max())
    return df


#df [featuresToNorm] = normalize (df[featuresToNorm])

#df_test [featuresToNormTest]= normalize(df_test[featuresToNormTest])

# Validation strategy

##### Split into train and validation set

In [57]:
Train, Validation = train_test_split(df, test_size=0.3)

In [58]:
Train.shape, Validation.shape

((295141, 70), (126489, 70))

In [59]:
df.describe()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,...,sales_dif_m,sales_dif_q,cust_mean_w,cust_mean_d,cust_mean_m,cust_dif_m,cust_dif_q,ratio_m,ratio_w,ratio_d
count,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,...,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000,421630.000000
mean,558.693722,3.995565,735540.866909,5813.294457,633.477540,0.827583,0.388978,0.196955,0.967308,0.022114,...,126.725940,189.088310,632.703736,520.083301,632.169283,2.808353,6.749714,9.565443,9.528649,6.768641
std,321.930753,2.001064,170.585488,3847.622166,464.841419,0.377743,0.487519,0.397698,0.177830,0.147055,...,635.302767,535.280024,330.840100,461.163689,326.796828,72.900448,62.067396,1.982995,2.038034,4.571356
min,1.000000,1.000000,735293.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-5508.000000,-4690.000000,94.000000,0.000000,171.000000,-669.000000,-515.000000,3.433173,3.281009,0.000000
25%,281.000000,2.000000,735387.000000,3791.000000,410.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,-147.000000,-7.000000,445.000000,0.000000,447.000000,-19.000000,-10.000000,8.062553,8.004952,0.000000
50%,558.000000,4.000000,735494.000000,5820.000000,613.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,143.000000,180.000000,559.000000,527.000000,559.000000,4.000000,5.000000,9.376973,9.318640,8.169724
75%,838.000000,6.000000,735716.000000,7923.000000,836.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,426.000000,408.000000,721.000000,749.000000,717.000000,27.000000,24.000000,10.924070,10.895446,10.076229
max,1115.000000,7.000000,735810.000000,41551.000000,5494.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,6846.000000,6554.000000,3989.000000,5016.000000,3710.000000,1417.000000,1044.000000,16.778095,18.802461,35.251335

In [60]:
df_test.columns

Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'SchoolHoliday',
       'StateHoliday_0', 'StateHoliday_a', 'ld', 'md', 'mc', 'jd', 'vd', 'sd',
       'dc', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'StoreType_a', 'StoreType_b',
       'StoreType_c', 'StoreType_d', 'Assortment_a', 'Assortment_b',
       'Assortment_c', 'PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr',
       'PromoMay', 'PromoJun', 'PromoJul', 'PromoAug', 'PromoSept', 'PromoOct',
       'PromoNov', 'PromoDec', 'BeginCompetition', 'BeginPromo2',
       'duree_concurence', 'promo2_today', 'year', 'month', 'day', 'dayofyear',
       'weekofyear', 'dayofweek', 'quarter', 'duree_promo2', 'sales_mean_w',
       'sales_mean_d', 'sales_mean_m', 'sales_dif_m', 'sales_dif_q',
       'cust_mean_w', 'cust_mean_d', 'cust_mean_m', 'cust_dif_m', 'cust_dif_q',
       'ratio_m', 'ratio_w', 'ratio_d'],
      dtype='object')

### Here features we want to use for training

In [61]:
featuresToTakeForTraining = ['Open', 'Promo', 'SchoolHoliday',
       'ld', 'md', 'mc', 'jd', 'vd', 'sd',
       'dc', 'CompetitionDistance', 'Promo2', 'StoreType_a', 'StoreType_b',
       'StoreType_c', 'StoreType_d', 'Assortment_a', 'Assortment_b',
       'Assortment_c', 'PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr',
       'PromoMay', 'PromoJun', 'PromoJul', 'PromoAug', 'PromoSept', 'PromoOct',
       'PromoNov', 'PromoDec', 'duree_concurence', 'promo2_today', 'year', 'month', 'day', 'dayofyear',
       'weekofyear', 'dayofweek', 'quarter', 'duree_promo2', 'sales_mean_w',
       'sales_mean_d', 'sales_mean_m', 'sales_dif_m', 'sales_dif_q',
       'cust_mean_d', 'cust_mean_m', 'cust_dif_m',
       'ratio_m']

In [62]:
y_train = Train['Sales']
y_validation = Validation['Sales']

X_train = Train[featuresToTakeForTraining]
X_validation = Validation[featuresToTakeForTraining]
#X_train = Train[Train.columns.difference(['Sales'])]
#X_validation = Validation[Validation.columns.difference(['Sales'])]

### Score

In [63]:
# metrique implmente selon lar formule sur kaggle
def rmspe(yhat, y):
    sum_ = 0
    for i in range(len(y)):
        if(y[i] != 0):
            sum_ += ((y[i] - yhat[i]) / y[i]) ** 2
        
    rmspe = np.sqrt(sum_ / len(y))
        
    return rmspe

def rmspe_xg(yhat, y):
    y = y.get_label()
    return "rmspe", rmspe(yhat, y)

A voir mais normalement a donne le mme score

In [64]:
# Trouve sur kaggle il marche mieux, celui au dessus bug des fois
def ToWeight(y):
    w = np.zeros(y.shape, dtype=float)
    ind = y != 0
    w[ind] = 1./(y[ind]**2)
    return w


def rmspe(yhat, y):
    w = ToWeight(y)
    rmspe = np.sqrt(np.mean( w * (y - yhat)**2 ))
    return rmspe

# Deep Approach

## Random Forest test just to try

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfr = RandomForestRegressor(n_estimators=200)
rfr.fit(X_train,np.log(y_train+1))

In [ ]:
ypred_train = rfr.predict(X_train)
ypred_validation =  rfr.predict(X_validation)
ypred_train=np.exp(ypred_train)-1
ypred_validation=np.exp(ypred_validation)-1

In [ ]:
print('The train RMPSE is ', rmspe(ypred_train, y_train))
print('The validation RMPSE is ', rmspe(ypred_validation, y_validation))

In [ ]:
X_test = df_test[featuresToTakeForTraining]
ypred = rfr.predict(X_test)

## Submission Generation

In [ ]:
ik = ypred<0
ypred [ik] = 0
submission = pd.DataFrame({"Id": df_test["Id"], "Sales": np.exp(ypred)-1})
submission.to_csv("submission_2.csv", index=False)

# Basic ML with SKlearn approach

# Training Pipeline
#### On va mettre les bons REGRESSOR, ici pour le squelette

In [ ]:
# Regressors
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
import xgboost as xgb

# Grid search
from sklearn.model_selection import GridSearchCV

##### Definition of the algorithm and theirs parameters for the grid search

In [ ]:
names_regressors = ["DecisionTreeClassifier", "RandomForestClassifier", "ExtraTreesClassifier", "XGBoost"]

regressors = [
    DecisionTreeRegressor(max_depth=None, min_samples_split=2, random_state=0),
    RandomForestRegressor(n_estimators = 10, max_depth = None, min_samples_split = 2, random_state = 0),
    ExtraTreesRegressor(n_estimators = 10, max_depth = None, min_samples_split = 2, random_state = 0),

    ]

### XGboost implementation

amlioration possible: Gridsearch

In [ ]:
def get_prob(y):
    y[y < 0] = 0
    return y

In [ ]:
params = {"objective": "reg:linear", # fonction perte => regression linaire car on prdit des ventes
          "eta": 0.3,
          "max_depth": 4, #on peut augmenter la profondeur mais augmente les chances d'overfit
          "subsample": 0.6,
          "colsample_bytree": 0.7
          }

dtrain = xgb.DMatrix(X_train, np.log(y_train + 1))
dvalid = xgb.DMatrix(X_validation, np.log(y_validation + 1))
watchlist = [(dvalid, 'eval'), (dtrain, 'train')]

model = xgb.train(params, dtrain, 120, evals = watchlist, early_stopping_rounds = 10, feval = rmspe_xg, verbose_eval = 5)

In [ ]:
train_probs = model.predict(xgb.DMatrix(X_train))
test_probs = model.predict(xgb.DMatrix(X_validation))

print('Error on training set ', rmspe(np.exp(get_prob(train_probs))-1, y_train.values))
print('Error on testing set ', rmspe(np.exp(get_prob(test_probs))-1, y_validation.values))

test_probs = model.predict(xgb.DMatrix(X_test))
indices = test_probs < 0
test_probs[indices] = 0
submission = pd.DataFrame({"Id": df_test["Id"], "Sales": np.exp(test_probs) - 1})
submission.to_csv("xgboost.csv", index=False)

##### Training of the different algoritms

In [ ]:
scores = []
scores_train = []

# iterate over classifiers
for clf, name in zip(regressors, names_regressors):
    print (name)
    if(name != "XGBoost"):
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_validation)
        y_pred_train = clf.predict(X_train)
        score_train = rmspe(y_pred_train, y_train.values)
        score = rmspe(y_pred, y_validation.values)
        print("\t Score (trainning):", score_train, "\n")
        print("\t Score (testing):", score, "\n")
        ypred = clf.predict(X_test)
        submission = pd.DataFrame({"Id": df_test["Id"], "Sales": ypred})
        submission.to_csv(name+".csv", index=False)
    
    else:
        train_probs = model.predict(xgb.DMatrix(X_train))
        test_probs = model.predict(xgb.DMatrix(X_validation))
        score_train = rmspe(np.exp(get_prob(train_probs))-1, y_train.values)
        score = rmspe(np.exp(get_prob(test_probs)) - 1, y_validation.values)
        print("\t Score (trainning):", score_train)
        print("\t Score (testing):", score)
        ypred = model.predict(xgb.DMatrix(X_test))
        submission = pd.DataFrame({"Id": df_test["Id"], "Sales": ypred})
        submission.to_csv("XG_boost.csv", index=False)
        
    scores.append(score)
    scores_train.append(score_train)

##### Plot the different scores

In [ ]:
plt.figure(figsize=(16, 8))
x = np.arange(len(scores))
plt.bar(x, scores, alpha=0.5, color=["red", "green", "blue", "purple"])
plt.xticks(x, names_regressors)
plt.xlabel("Regressors")
plt.ylabel("Scores")
plt.title("Score for several regressor on testing set")
plt.show()

In [ ]:
plt.figure(figsize=(16, 8))
x = np.arange(len(scores))
plt.bar(x, scores_train, alpha=0.5, color=["red", "green", "blue", "purple"])
plt.xticks(x, names_regressors)
plt.xlabel("Regressors")
plt.ylabel("Scores")
plt.title("Score for several regressor on training set")
plt.show()

# Training with GridSearch Strategy

##### Definition of the algorithm and theirs parameters for the grid search

In [ ]:
names_regressors = ['RandomForestRegressor']
names_regressors_tunedParams = [
    ["RandomForestRegressor", RandomForestRegressor(), {"max_depth": [3, 5], "bootstrap": [True, False]}]
]

##### Training of the different algoritms

In [ ]:
scores_regressors_cv = []
for name, regressor, tunedParam in names_regressors_tunedParams:
    clf = GridSearchCV(regressor, tunedParam)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_validation)
    score = rmspe(y_pred, y_validation.values)

    print("\t Score:", score, "\n")
    
    print(name, "Best parameters :", clf.best_params_, "Accuracy:", score)
    scores_regressors_cv.append(score)

##### Plot the different scores

In [ ]:
plt.figure(figsize=(16, 8))
x = np.arange(len(scores_regressors_cv))
plt.bar(x, scores_regressors_cv, alpha=0.5, color=["red", "green", "blue", "purple"])
plt.xticks(x, names_regressors)
plt.xlabel("Classifiers")
plt.ylabel("Accuracy")
plt.title("Accuracies for several classifiers")
plt.show()

# Naive Approach

In [ ]:
class Naive:
    
    def same_day(self,day1,day2):
        """Return true if day1 and day 2 are the same day juste different year"""
        return (day1.day == day2.day) and (day1.month ==day2.month)
    
    def train(self,data,target):
        #Compute the mean aggregate by Days
        X = pd.concat([data['Date'].copy() , target.copy()],axis=1)
        X['Date'] = X['Date'].apply(lambda x : (x.day,x.month))
        self.aggregate = X.groupby(['Date']).mean().reset_index()

    def predict(self,X): 
        X = X.copy()
        X['Date'] = X['Date'].apply(lambda x : (x.day,x.month))
        #Merge with the aggregate
        pred = pd.merge(pd.DataFrame(X['Date']), self.aggregate, left_on='Date', right_on='Date')
        return np.array(pred['Sales'])

In [ ]:
naive_model = Naive()
naive_model.train(Train,Train['Sales'])

y_train_pred = naive_model.predict(Train)
y_valid_pred = naive_model.predict(Validation)

print('Error on training set ', rmspe(y_train_pred, y_train.values))
print('Error on testing set ', rmspe(y_valid_pred, y_validation.values))

In [ ]:
#Evalueate it on the kaggle dataset
naive_model = Naive()
naive_model.train(train,train['Sales'])
prediction = naive_model.predict(test)
indic = test['Id']
res = pd.DataFrame(indic)
res['Sales'] = prediction
res.to_csv('data/submission_naive.csv', index = False)

L'approche naive fait 0.54591 sur Kaggle

# Evaluation