# Your company is Rossmann.
### Business issue : predict the stores turnover

Authors: BOIVIN Jolyanne, BOUCHER Axel, DE BROGLIE Aymon, GRIGNARD Jeremy, KARTHIGESU Dinojan, NAULET Antoine

### Table of contents

* Preprocessing
* Feature Engineering
* Validation strategy
* Training and evaluation

In [50]:
import pandas as pd
import numpy as np
from datetime import datetime
import datetime
import matplotlib.pyplot as plt

# For split
from sklearn.model_selection import train_test_split
%matplotlib inline

# Data Loading

In [51]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
store = pd.read_csv('data/store.csv')

In [52]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [53]:
test.head(10)

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0
5   6     10          4  2015-09-17   1.0      1            0              0
6   7     11          4  2015-09-17   1.0      1            0              0
7   8     12          4  2015-09-17   1.0      1            0              0
8   9     13          4  2015-09-17   1.0      1            0              0
9  10     14          4  2015-09-17   1.0      1            0              0

In [54]:
distinctIdStoreTest = test.Id.unique()
distinctIdStoreTest

array([    1,     2,     3, ..., 41086, 41087, 41088], dtype=int64)

In [55]:
test[test.Store == 3].sort_values(by='Date', ascending=True)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
40233,40234,3,6,2015-08-01,1.0,0,0,0
39377,39378,3,7,2015-08-02,0.0,0,0,0
38521,38522,3,1,2015-08-03,1.0,1,0,1
37665,37666,3,2,2015-08-04,1.0,1,0,1
36809,36810,3,3,2015-08-05,1.0,1,0,1
35953,35954,3,4,2015-08-06,1.0,1,0,1
35097,35098,3,5,2015-08-07,1.0,1,0,1
34241,34242,3,6,2015-08-08,1.0,0,0,0
33385,33386,3,7,2015-08-09,0.0,0,0,0
32529,32530,3,1,2015-08-10,1.0,0,0,1
31673,31674,3,2,2015-08-11,1.0,0,0,1
30817,30818,3,3,2015-08-12,1.0,0,0,0
29961,29962,3,4,2015-08-13,1.0,0,0,0
29105,29106,3,5,2015-08-14,1.0,0,0,0
28249,28250,3,6,2015-08-15,1.0,0,0,0
27393,27394,3,7,2015-08-16,0.0,0,0,0
26537,26538,3,1,2015-08-17,1.0,1,0,0
25681,25682,3,2,2015-08-18,1.0,1,0,0
24825,24826,3,3,2015-08-19,1.0,1,0,0
23969,23970,3,4,2015-08-20,1.0,1,0,0
23113,23114,3,5,2015-08-21,1.0,1,0,0
22257,22258,3,6,2015-08-22,1.0,0,0,0
21401,21402,3,7,2015-08-23,0.0,0,0,0
20545,20546,3,1,2015-08-24,1.0,0,0,0
19689,19690,3,2,2015-08-25,1.0,0,0,0
18833,18834,3,3,2015-08-26,1.0,0,0,0
17977,17978,3,4,2015-08-27,1.0,0,0,0
17121,17122,3,5,2015-08-28,1.0,0,0,0
16265,16266,3,6,2015-08-29,1.0,0,0,0
15409,15410,3,7,2015-08-30,0.0,0,0,0
14553,14554,3,1,2015-08-31,1.0,1,0,0
13697,13698,3,2,2015-09-01,1.0,1,0,0
12841,12842,3,3,2015-09-02,1.0,1,0,0
11985,11986,3,4,2015-09-03,1.0,1,0,0
11129,11130,3,5,2015-09-04,1.0,1,0,0
10273,10274,3,6,2015-09-05,1.0,0,0,0
9417,9418,3,7,2015-09-06,0.0,0,0,0
8561,8562,3,1,2015-09-07,1.0,0,0,0
7705,7706,3,2,2015-09-08,1.0,0,0,0
6849,6850,3,3,2015-09-09,1.0,0,0,0
5993,5994,3,4,2015-09-10,1.0,0,0,0
5137,5138,3,5,2015-09-11,1.0,0,0,0
4281,4282,3,6,2015-09-12,1.0,0,0,0
3425,3426,3,7,2015-09-13,0.0,0,0,0
2569,2570,3,1,2015-09-14,1.0,1,0,0
1713,1714,3,2,2015-09-15,1.0,1,0,0
857,858,3,3,2015-09-16,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0

In [56]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

# First Look

In [57]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null object
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [58]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null object
Open             41077 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

In [59]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
Store                        1115 non-null int64
StoreType                    1115 non-null object
Assortment                   1115 non-null object
CompetitionDistance          1112 non-null float64
CompetitionOpenSinceMonth    761 non-null float64
CompetitionOpenSinceYear     761 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              571 non-null float64
Promo2SinceYear              571 non-null float64
PromoInterval                571 non-null object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [60]:
print('Here we can see that there are missing values for several features in store:', store.isnull().sum().sum())

Here we can see that there are missing values for several features in store: 2343

# Preprocessing

# Preprocessing on Train and Test

In [61]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null object
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [62]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null object
Open             41077 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

#### According to the documentation

* DateTime for Date
* StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None

### Change the date to hundle datetime object

In [63]:
train['Date'] = pd.to_datetime(train['Date'])
test['Date'] = pd.to_datetime(test['Date'])

### We first replace the '0' values present in the train and test set by 0 (int) Next we use get dummies for each present value

In [64]:
print("Train before", train['StateHoliday'].unique())
train.replace({"StateHoliday": {"0": 0}}, inplace=True)
print("Train Before", train['StateHoliday'].unique())

Train before ['0' 'a' 'b' 'c' 0]
Train Before [0 'a' 'b' 'c']

In [65]:
print("Test After", test['StateHoliday'].unique())
test.replace({"StateHoliday": {"0": 0}}, inplace=True)
print("Test After", test['StateHoliday'].unique())

Test After ['0' 'a']
Test After [0 'a']

In [66]:
train[['StateHoliday_0', 'StateHoliday_a', 'StateHoliday_b', 'StateHoliday_c']] = pd.get_dummies(train['StateHoliday'])
test[['StateHoliday_0', 'StateHoliday_a']] = pd.get_dummies(test['StateHoliday'])
train.drop('StateHoliday', axis=1, inplace=True)
test.drop('StateHoliday', axis=1, inplace=True)

### Here we check the DayOfWeek for each Nan Values for the feature Open
#### As we can see, there is no Sunday. Therefore we replace the NaN values by 1 (the store is open), To be more realistic we should map the day with a American calendar to see if each day is a sunday, special day, close day, holiday, public bank holiday

In [67]:
test[test['Open'].isnull()]

,Id,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a
479,480,622,4,2015-09-17,NaN,1,0,1,0
1335,1336,622,3,2015-09-16,NaN,1,0,1,0
2191,2192,622,2,2015-09-15,NaN,1,0,1,0
3047,3048,622,1,2015-09-14,NaN,1,0,1,0
4759,4760,622,6,2015-09-12,NaN,0,0,1,0
5615,5616,622,5,2015-09-11,NaN,0,0,1,0
6471,6472,622,4,2015-09-10,NaN,0,0,1,0
7327,7328,622,3,2015-09-09,NaN,0,0,1,0
8183,8184,622,2,2015-09-08,NaN,0,0,1,0
9039,9040,622,1,2015-09-07,NaN,0,0,1,0
10751,10752,622,6,2015-09-05,NaN,0,0,1,0

In [68]:
test.replace({"Open": {np.nan: 1}}, inplace=True)

In [69]:
test[test['Open'].isnull()]

Empty DataFrame
Columns: [Id, Store, DayOfWeek, Date, Open, Promo, SchoolHoliday, StateHoliday_0, StateHoliday_a]
Index: []

# Preprocessing on Store

In [70]:
objectFeaturesStore = ['StoreType', 'Assortment', 'PromoInterval']

In [71]:
store[objectFeaturesStore].head()

  StoreType Assortment    PromoInterval
0         c          a              NaN
1         a          a  Jan,Apr,Jul,Oct
2         a          a  Jan,Apr,Jul,Oct
3         c          c              NaN
4         a          a              NaN

According to the documentation

* StoreType - differentiates between 4 different store models: a, b, c, d
* Assortment - describes an assortment level: a = basic, b = extra, c = extended
* PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

#### Replace missing values by mean

In [72]:
# Features to preprecess numerically
# 3 features are object type
featuresToPreprocessByMean = ['Store', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear']

In [73]:
for idx in featuresToPreprocessByMean:
    store[idx] = store[idx].fillna(np.mean(store[idx]))

In [74]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
Store                        1115 non-null int64
StoreType                    1115 non-null object
Assortment                   1115 non-null object
CompetitionDistance          1115 non-null float64
CompetitionOpenSinceMonth    1115 non-null float64
CompetitionOpenSinceYear     1115 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              1115 non-null float64
Promo2SinceYear              1115 non-null float64
PromoInterval                571 non-null object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

#### StoreType, Assortment, PromoInterval

In [75]:
print('distinct_storeType:', store['StoreType'].unique(), '\ndistinct_assortment: ', store['Assortment'].unique(), '\ndistinct_promoInterval: ', store['PromoInterval'].unique())

distinct_storeType: ['c' 'a' 'd' 'b']
distinct_assortment:  ['a' 'c' 'b']
distinct_promoInterval:  [nan 'Jan,Apr,Jul,Oct' 'Feb,May,Aug,Nov' 'Mar,Jun,Sept,Dec']

In [76]:
store[['StoreType_a', 'StoreType_b', 'StoreType_c', 'StoreType_d']] = pd.get_dummies(store['StoreType'])
store[['Assortment_a', 'Assortment_b', 'Assortment_c']] = pd.get_dummies(store['Assortment'])
store.drop('StoreType', axis=1, inplace=True)
store.drop('Assortment', axis=1, inplace=True)

In [77]:
store.replace({"PromoInterval": {np.nan: 0}}, inplace=True)

In [78]:
store.head()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c
0,1,1270.0,9.0,2008.0,0,23.595447,2011.763573,0,0,0,1,0,1,0,0
1,2,570.0,11.0,2007.0,1,13.000000,2010.000000,"Jan,Apr,Jul,Oct",1,0,0,0,1,0,0
2,3,14130.0,12.0,2006.0,1,14.000000,2011.000000,"Jan,Apr,Jul,Oct",1,0,0,0,1,0,0
3,4,620.0,9.0,2009.0,0,23.595447,2011.763573,0,0,0,1,0,0,0,1
4,5,29910.0,4.0,2015.0,0,23.595447,2011.763573,0,1,0,0,0,1,0,0

In [79]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 15 columns):
Store                        1115 non-null int64
CompetitionDistance          1115 non-null float64
CompetitionOpenSinceMonth    1115 non-null float64
CompetitionOpenSinceYear     1115 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              1115 non-null float64
Promo2SinceYear              1115 non-null float64
PromoInterval                1115 non-null object
StoreType_a                  1115 non-null uint8
StoreType_b                  1115 non-null uint8
StoreType_c                  1115 non-null uint8
StoreType_d                  1115 non-null uint8
Assortment_a                 1115 non-null uint8
Assortment_b                 1115 non-null uint8
Assortment_c                 1115 non-null uint8
dtypes: float64(5), int64(2), object(1), uint8(7)
memory usage: 77.4+ KB

In [80]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
promoMonths = ['PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr', 'PromoMay', 'PromoJun', 'PromoJul', 
               'PromoAug', 'PromoSept', 'PromoOct', 'PromoNov', 'PromoDec']

# Ajout des colonnes pour tous les moisPromo
# On mettra 1 qd promo, 0 sinon
for v in promoMonths:
    store[v] = 0
    
for idx, val in enumerate(store['PromoInterval']):
    if val != 0:
        mons = val.split(',')
        for mon in mons:
            columnName = 'Promo' + mon
            store.loc[idx, columnName] = 1

In [81]:
##On rajoute une colonne pour avoir la data du dbut de la competition ainsi qu'une date du dbut de promo 2
def date_init_compet (col1, col2):
    if col1 != 0:
        return pd.to_datetime(str('01/')+str((int(col1)))+"/"+str(int(col2)))
    
def date_init_promo(week,year):
    if week != 0: 
        return pd.to_datetime(str(int(week)) + '/' + str(int(year)) + '/' + '0', format='%W/%Y/%w')
    
store['BeginCompetition'] = store.apply(lambda x : date_init_compet(x['CompetitionOpenSinceMonth'], x['CompetitionOpenSinceYear']),axis=1) 
store['BeginPromo2'] = store.apply(lambda x : date_init_promo(x['Promo2SinceWeek'], x['Promo2SinceYear']),axis=1) 

    
store.head()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,StoreType_a,StoreType_b,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,1270.0,9.0,2008.0,0,23.595447,2011.763573,0,0,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,2,570.0,11.0,2007.0,1,13.000000,2010.000000,"Jan,Apr,Jul,Oct",1,0,...,0,0,1,0,0,1,0,0,2007-01-11,2010-04-04
2,3,14130.0,12.0,2006.0,1,14.000000,2011.000000,"Jan,Apr,Jul,Oct",1,0,...,0,0,1,0,0,1,0,0,2006-01-12,2011-04-10
3,4,620.0,9.0,2009.0,0,23.595447,2011.763573,0,0,0,...,0,0,0,0,0,0,0,0,2009-01-09,2011-06-12
4,5,29910.0,4.0,2015.0,0,23.595447,2011.763573,0,1,0,...,0,0,0,0,0,0,0,0,2015-01-04,2011-06-12

In [82]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 29 columns):
Store                        1115 non-null int64
CompetitionDistance          1115 non-null float64
CompetitionOpenSinceMonth    1115 non-null float64
CompetitionOpenSinceYear     1115 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              1115 non-null float64
Promo2SinceYear              1115 non-null float64
PromoInterval                1115 non-null object
StoreType_a                  1115 non-null uint8
StoreType_b                  1115 non-null uint8
StoreType_c                  1115 non-null uint8
StoreType_d                  1115 non-null uint8
Assortment_a                 1115 non-null uint8
Assortment_b                 1115 non-null uint8
Assortment_c                 1115 non-null uint8
PromoJan                     1115 non-null int64
PromoFeb                     1115 non-null int64
PromoMar                     1115 non-null int64
PromoApr                     1115 non-null int64
PromoMay                     1115 non-null int64
PromoJun                     1115 non-null int64
PromoJul                     1115 non-null int64
PromoAug                     1115 non-null int64
PromoSept                    1115 non-null int64
PromoOct                     1115 non-null int64
PromoNov                     1115 non-null int64
PromoDec                     1115 non-null int64
BeginCompetition             1115 non-null datetime64[ns]
BeginPromo2                  1115 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(14), object(1), uint8(7)
memory usage: 199.3+ KB

#### Merge Train and Store

In [83]:
train.columns, store.columns

(Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
        'SchoolHoliday', 'StateHoliday_0', 'StateHoliday_a', 'StateHoliday_b',
        'StateHoliday_c'],
       dtype='object'),
 Index(['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
        'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
        'Promo2SinceYear', 'PromoInterval', 'StoreType_a', 'StoreType_b',
        'StoreType_c', 'StoreType_d', 'Assortment_a', 'Assortment_b',
        'Assortment_c', 'PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr',
        'PromoMay', 'PromoJun', 'PromoJul', 'PromoAug', 'PromoSept', 'PromoOct',
        'PromoNov', 'PromoDec', 'BeginCompetition', 'BeginPromo2'],
       dtype='object'))

In [84]:
df = pd.merge(train, store, left_on='Store', right_on='Store')

In [85]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,5,2015-07-31,5263,555,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,1,4,2015-07-30,5020,546,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
2,1,3,2015-07-29,4782,523,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
3,1,2,2015-07-28,5011,560,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
4,1,1,2015-07-27,6102,612,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 40 columns):
Store                        1017209 non-null int64
DayOfWeek                    1017209 non-null int64
Date                         1017209 non-null datetime64[ns]
Sales                        1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
SchoolHoliday                1017209 non-null int64
StateHoliday_0               1017209 non-null uint8
StateHoliday_a               1017209 non-null uint8
StateHoliday_b               1017209 non-null uint8
StateHoliday_c               1017209 non-null uint8
CompetitionDistance          1017209 non-null float64
CompetitionOpenSinceMonth    1017209 non-null float64
CompetitionOpenSinceYear     1017209 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              1017209 non-null float64
Promo2SinceYear              1017209 non-null float64
PromoInterval                1017209 non-null object
StoreType_a                  1017209 non-null uint8
StoreType_b                  1017209 non-null uint8
StoreType_c                  1017209 non-null uint8
StoreType_d                  1017209 non-null uint8
Assortment_a                 1017209 non-null uint8
Assortment_b                 1017209 non-null uint8
Assortment_c                 1017209 non-null uint8
PromoJan                     1017209 non-null int64
PromoFeb                     1017209 non-null int64
PromoMar                     1017209 non-null int64
PromoApr                     1017209 non-null int64
PromoMay                     1017209 non-null int64
PromoJun                     1017209 non-null int64
PromoJul                     1017209 non-null int64
PromoAug                     1017209 non-null int64
PromoSept                    1017209 non-null int64
PromoOct                     1017209 non-null int64
PromoNov                     1017209 non-null int64
PromoDec                     1017209 non-null int64
BeginCompetition             1017209 non-null datetime64[ns]
BeginPromo2                  1017209 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(5), int64(20), object(1), uint8(11)
memory usage: 243.5+ MB

In [87]:
df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,StateHoliday_b,...,PromoMar,PromoApr,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,...,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01,9.694753e-01,1.991724e-02,6.576820e-03,...,9.581119e-02,2.881630e-01,1.165896e-01,9.581119e-02,2.881630e-01,1.165896e-01,9.581119e-02,2.881630e-01,1.165896e-01,9.581119e-02
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01,1.720261e-01,1.397160e-01,8.083051e-02,...,2.943323e-01,4.529076e-01,3.209308e-01,2.943323e-01,4.529076e-01,3.209308e-01,2.943323e-01,4.529076e-01,3.209308e-01,2.943323e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [88]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,5,2015-07-31,5263,555,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,1,4,2015-07-30,5020,546,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
2,1,3,2015-07-29,4782,523,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
3,1,2,2015-07-28,5011,560,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
4,1,1,2015-07-27,6102,612,1,1,1,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
5,1,7,2015-07-26,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
6,1,6,2015-07-25,4364,500,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
7,1,5,2015-07-24,3706,459,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
8,1,4,2015-07-23,3769,503,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
9,1,3,2015-07-22,3464,463,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
10,1,2,2015-07-21,3558,469,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
11,1,1,2015-07-20,4395,526,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
12,1,7,2015-07-19,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
13,1,6,2015-07-18,4406,512,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
14,1,5,2015-07-17,4852,519,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
15,1,4,2015-07-16,4427,517,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
16,1,3,2015-07-15,4767,550,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
17,1,2,2015-07-14,5042,544,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
18,1,1,2015-07-13,5054,553,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
19,1,7,2015-07-12,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
20,1,6,2015-07-11,3530,441,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
21,1,5,2015-07-10,3808,449,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
22,1,4,2015-07-09,3897,480,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
23,1,3,2015-07-08,3797,485,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
24,1,2,2015-07-07,3650,485,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
25,1,1,2015-07-06,4359,540,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
26,1,7,2015-07-05,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
27,1,6,2015-07-04,4797,560,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
28,1,5,2015-07-03,4665,538,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
29,1,4,2015-07-02,5558,573,1,1,0,1,0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017179,1115,3,2013-01-30,3813,287,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017180,1115,2,2013-01-29,3397,277,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017181,1115,1,2013-01-28,3615,271,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017182,1115,7,2013-01-27,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017183,1115,6,2013-01-26,4896,394,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017184,1115,5,2013-01-25,5082,373,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017185,1115,4,2013-01-24,5650,366,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017186,1115,3,2013-01-23,5176,336,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017187,1115,2,2013-01-22,5388,329,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017188,1115,1,2013-01-21,3723,243,1,1,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017189,1115,7,2013-01-20,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017190,1115,6,2013-01-19,5207,369,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017191,1115,5,2013-01-18,4287,296,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017192,1115,4,2013-01-17,3039,244,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017193,1115,3,2013-01-16,3064,237,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017194,1115,2,2013-01-15,3528,277,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017195,1115,1,2013-01-14,3158,252,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017196,1115,7,2013-01-13,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017197,1115,6,2013-01-12,4497,350,1,0,0,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017198,1115,5,2013-01-11,5142,351,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017199,1115,4,2013-01-10,5007,339,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017200,1115,3,2013-01-09,4649,324,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017201,1115,2,2013-01-08,5243,341,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017202,1115,1,2013-01-07,6905,471,1,1,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017203,1115,7,2013-01-06,0,0,0,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017204,1115,6,2013-01-05,4771,339,1,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017205,1115,5,2013-01-04,4540,326,1,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017206,1115,4,2013-01-03,4297,300,1,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017207,1115,3,2013-01-02,3697,305,1,0,1,1,0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
1017208,1115,2,2013-01-01,0,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03

### Merge Test et Store

In [89]:
test.columns, store.columns

(Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'SchoolHoliday',
        'StateHoliday_0', 'StateHoliday_a'],
       dtype='object'),
 Index(['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
        'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
        'Promo2SinceYear', 'PromoInterval', 'StoreType_a', 'StoreType_b',
        'StoreType_c', 'StoreType_d', 'Assortment_a', 'Assortment_b',
        'Assortment_c', 'PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr',
        'PromoMay', 'PromoJun', 'PromoJul', 'PromoAug', 'PromoSept', 'PromoOct',
        'PromoNov', 'PromoDec', 'BeginCompetition', 'BeginPromo2'],
       dtype='object'))

In [90]:
df_test = pd.merge(test, store, left_on='Store', right_on='Store')

In [91]:
df_test.head()

,Id,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,CompetitionDistance,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,1,4,2015-09-17,1.0,1,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,857,1,3,2015-09-16,1.0,1,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
2,1713,1,2,2015-09-15,1.0,1,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
3,2569,1,1,2015-09-14,1.0,1,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
4,3425,1,7,2015-09-13,0.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12

In [92]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 37 columns):
Id                           41088 non-null int64
Store                        41088 non-null int64
DayOfWeek                    41088 non-null int64
Date                         41088 non-null datetime64[ns]
Open                         41088 non-null float64
Promo                        41088 non-null int64
SchoolHoliday                41088 non-null int64
StateHoliday_0               41088 non-null uint8
StateHoliday_a               41088 non-null uint8
CompetitionDistance          41088 non-null float64
CompetitionOpenSinceMonth    41088 non-null float64
CompetitionOpenSinceYear     41088 non-null float64
Promo2                       41088 non-null int64
Promo2SinceWeek              41088 non-null float64
Promo2SinceYear              41088 non-null float64
PromoInterval                41088 non-null object
StoreType_a                  41088 non-null uint8
StoreType_b                  41088 non-null uint8
StoreType_c                  41088 non-null uint8
StoreType_d                  41088 non-null uint8
Assortment_a                 41088 non-null uint8
Assortment_b                 41088 non-null uint8
Assortment_c                 41088 non-null uint8
PromoJan                     41088 non-null int64
PromoFeb                     41088 non-null int64
PromoMar                     41088 non-null int64
PromoApr                     41088 non-null int64
PromoMay                     41088 non-null int64
PromoJun                     41088 non-null int64
PromoJul                     41088 non-null int64
PromoAug                     41088 non-null int64
PromoSept                    41088 non-null int64
PromoOct                     41088 non-null int64
PromoNov                     41088 non-null int64
PromoDec                     41088 non-null int64
BeginCompetition             41088 non-null datetime64[ns]
BeginPromo2                  41088 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int64(18), object(1), uint8(9)
memory usage: 9.4+ MB

In [93]:
df_test

,Id,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,CompetitionDistance,...,PromoMay,PromoJun,PromoJul,PromoAug,PromoSept,PromoOct,PromoNov,PromoDec,BeginCompetition,BeginPromo2
0,1,1,4,2015-09-17,1.0,1,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
1,857,1,3,2015-09-16,1.0,1,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
2,1713,1,2,2015-09-15,1.0,1,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
3,2569,1,1,2015-09-14,1.0,1,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
4,3425,1,7,2015-09-13,0.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
5,4281,1,6,2015-09-12,1.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
6,5137,1,5,2015-09-11,1.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
7,5993,1,4,2015-09-10,1.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
8,6849,1,3,2015-09-09,1.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
9,7705,1,2,2015-09-08,1.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
10,8561,1,1,2015-09-07,1.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
11,9417,1,7,2015-09-06,0.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
12,10273,1,6,2015-09-05,1.0,0,0,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
13,11129,1,5,2015-09-04,1.0,1,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
14,11985,1,4,2015-09-03,1.0,1,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
15,12841,1,3,2015-09-02,1.0,1,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
16,13697,1,2,2015-09-01,1.0,1,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
17,14553,1,1,2015-08-31,1.0,1,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
18,15409,1,7,2015-08-30,0.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
19,16265,1,6,2015-08-29,1.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
20,17121,1,5,2015-08-28,1.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
21,17977,1,4,2015-08-27,1.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
22,18833,1,3,2015-08-26,1.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
23,19689,1,2,2015-08-25,1.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
24,20545,1,1,2015-08-24,1.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
25,21401,1,7,2015-08-23,0.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
26,22257,1,6,2015-08-22,1.0,0,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
27,23113,1,5,2015-08-21,1.0,1,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
28,23969,1,4,2015-08-20,1.0,1,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
29,24825,1,3,2015-08-19,1.0,1,1,1,0,1270.0,...,0,0,0,0,0,0,0,0,2008-01-09,2011-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,16264,1115,7,2015-08-30,0.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41059,17120,1115,6,2015-08-29,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41060,17976,1115,5,2015-08-28,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41061,18832,1115,4,2015-08-27,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41062,19688,1115,3,2015-08-26,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41063,20544,1115,2,2015-08-25,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41064,21400,1115,1,2015-08-24,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41065,22256,1115,7,2015-08-23,0.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41066,23112,1115,6,2015-08-22,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41067,23968,1115,5,2015-08-21,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41068,24824,1115,4,2015-08-20,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41069,25680,1115,3,2015-08-19,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41070,26536,1115,2,2015-08-18,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41071,27392,1115,1,2015-08-17,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41072,28248,1115,7,2015-08-16,0.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41073,29104,1115,6,2015-08-15,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41074,29960,1115,5,2015-08-14,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41075,30816,1115,4,2015-08-13,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41076,31672,1115,3,2015-08-12,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41077,32528,1115,2,2015-08-11,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41078,33384,1115,1,2015-08-10,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41079,34240,1115,7,2015-08-09,0.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41080,35096,1115,6,2015-08-08,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41081,35952,1115,5,2015-08-07,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41082,36808,1115,4,2015-08-06,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41083,37664,1115,3,2015-08-05,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41084,38520,1115,2,2015-08-04,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41085,39376,1115,1,2015-08-03,1.0,1,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41086,40232,1115,7,2015-08-02,0.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03
41087,41088,1115,6,2015-08-01,1.0,0,1,1,0,5350.0,...,0,1,0,0,1,0,0,1,2008-01-07,2012-06-03

# Feature Engineering

## Code Antoine et Generator
### UTILISER LE GENERATOR POUR AJOUTER DES FEATURES :)

In [94]:
  def create_promo2(promo, curr_date,begin_date, interval ):
        list_mois = ['Jan','Feb','Mar', 'Apr','May','Jun', 'Jul', 'Aug', 'Sept', 'Oct','Nov','Dec']
        if promo  and (curr_date > begin_date) and (list_mois[curr_date.month -1 ] in interval.split(',')):
            return 1 
        else:
            return 0

In [95]:
def generator (df) :
    # produit les elements exploitables : date de reference en format date, toute les en autres en distance 
    # de la reference
    # exploite les donnees de promo2 pour savoir a chaque entree si le magasin est en promo2
    # retourne les elements caracteristiques de la date actuelle

    df['duree_concurence']= (df['Date'] - pd.to_datetime(df['BeginCompetition'])).dt.days
    df['promo2_today'] =df.apply( lambda x : create_promo2(x['Promo2'],x['Date'], x['BeginPromo2'] , x['PromoInterval']),axis = 1 )
    df['year']=df['Date'].apply(lambda x: x.year)
    df['month']=df['Date'].apply(lambda x: x.month)
    df['day']=df['Date'].apply(lambda x: x.day)
    df['dayofyear']=df['Date'].apply(lambda x: x.dayofyear)
    df['weekofyear']=df['Date'].apply(lambda x: x.weekofyear)
    df['dayofweek']=df['Date'].apply(lambda x: x.dayofweek)
    df['quarter']=df['Date'].apply(lambda x: x.quarter)
    
    df['duree_promo2'] = (df['Date'] - df['BeginPromo2']).dt.days

    return (df)

Fonction qui parcourt les donnes et va chercher si il y a le jour de l'anne d'avant

In [159]:
def old_year(df, givenYear, givenMonth, givenDay):
    for idx in range(df.shape[0]):
        if(df['year'][idx] == givenYear - 1 and df['month'][idx] == givenMonth and df['day'][idx] == givenDay):
            return df.iloc[idx]

    return None

In [160]:
testingfunction = old_year(df, 2014, 1, 6)
print(testingfunction)

Store                                          1
DayOfWeek                                      7
Date                         2013-01-06 00:00:00
Sales                                          0
Customers                                      0
Open                                           0
Promo                                          0
SchoolHoliday                                  1
StateHoliday_0                                 1
StateHoliday_a                                 0
StateHoliday_b                                 0
StateHoliday_c                                 0
CompetitionDistance                         1270
CompetitionOpenSinceMonth                      9
CompetitionOpenSinceYear                    2008
Promo2                                         0
Promo2SinceWeek                          23.5954
Promo2SinceYear                          2011.76
PromoInterval                                  0
StoreType_a                                    0
StoreType_b                                    0
StoreType_c                                    1
StoreType_d                                    0
Assortment_a                                   1
Assortment_b                                   0
Assortment_c                                   0
PromoJan                                       0
PromoFeb                                       0
PromoMar                                       0
PromoApr                                       0
PromoMay                                       0
PromoJun                                       0
PromoJul                                       0
PromoAug                                       0
PromoSept                                      0
PromoOct                                       0
PromoNov                                       0
PromoDec                                       0
BeginCompetition             2008-01-09 00:00:00
BeginPromo2                  2011-06-12 00:00:00
duree_concurence                            1824
promo2_today                                   0
year                                        2013
month                                          1
day                                            6
dayofyear                                      6
weekofyear                                     1
dayofweek                                      6
quarter                                        1
duree_promo2                                 574
Name: 936, dtype: object

# Validation strategy

In [119]:
df = generator(df)
df_test = generator(df_test)

C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Jolyanne\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [120]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,StateHoliday_0,StateHoliday_a,...,duree_concurence,promo2_today,year,month,day,dayofyear,weekofyear,dayofweek,quarter,duree_promo2
0,1,5,2015-07-31,5263,555,1,1,1,1,0,...,2760,0,2015,7,31,212,31,4,3,1510
1,1,4,2015-07-30,5020,546,1,1,1,1,0,...,2759,0,2015,7,30,211,31,3,3,1509
2,1,3,2015-07-29,4782,523,1,1,1,1,0,...,2758,0,2015,7,29,210,31,2,3,1508
3,1,2,2015-07-28,5011,560,1,1,1,1,0,...,2757,0,2015,7,28,209,31,1,3,1507
4,1,1,2015-07-27,6102,612,1,1,1,1,0,...,2756,0,2015,7,27,208,31,0,3,1506
5,1,7,2015-07-26,0,0,0,0,0,1,0,...,2755,0,2015,7,26,207,30,6,3,1505
6,1,6,2015-07-25,4364,500,1,0,0,1,0,...,2754,0,2015,7,25,206,30,5,3,1504
7,1,5,2015-07-24,3706,459,1,0,0,1,0,...,2753,0,2015,7,24,205,30,4,3,1503
8,1,4,2015-07-23,3769,503,1,0,0,1,0,...,2752,0,2015,7,23,204,30,3,3,1502
9,1,3,2015-07-22,3464,463,1,0,0,1,0,...,2751,0,2015,7,22,203,30,2,3,1501
10,1,2,2015-07-21,3558,469,1,0,0,1,0,...,2750,0,2015,7,21,202,30,1,3,1500
11,1,1,2015-07-20,4395,526,1,0,0,1,0,...,2749,0,2015,7,20,201,30,0,3,1499
12,1,7,2015-07-19,0,0,0,0,0,1,0,...,2748,0,2015,7,19,200,29,6,3,1498
13,1,6,2015-07-18,4406,512,1,0,0,1,0,...,2747,0,2015,7,18,199,29,5,3,1497
14,1,5,2015-07-17,4852,519,1,1,0,1,0,...,2746,0,2015,7,17,198,29,4,3,1496
15,1,4,2015-07-16,4427,517,1,1,0,1,0,...,2745,0,2015,7,16,197,29,3,3,1495
16,1,3,2015-07-15,4767,550,1,1,0,1,0,...,2744,0,2015,7,15,196,29,2,3,1494
17,1,2,2015-07-14,5042,544,1,1,0,1,0,...,2743,0,2015,7,14,195,29,1,3,1493
18,1,1,2015-07-13,5054,553,1,1,0,1,0,...,2742,0,2015,7,13,194,29,0,3,1492
19,1,7,2015-07-12,0,0,0,0,0,1,0,...,2741,0,2015,7,12,193,28,6,3,1491
20,1,6,2015-07-11,3530,441,1,0,0,1,0,...,2740,0,2015,7,11,192,28,5,3,1490
21,1,5,2015-07-10,3808,449,1,0,0,1,0,...,2739,0,2015,7,10,191,28,4,3,1489
22,1,4,2015-07-09,3897,480,1,0,0,1,0,...,2738,0,2015,7,9,190,28,3,3,1488
23,1,3,2015-07-08,3797,485,1,0,0,1,0,...,2737,0,2015,7,8,189,28,2,3,1487
24,1,2,2015-07-07,3650,485,1,0,0,1,0,...,2736,0,2015,7,7,188,28,1,3,1486
25,1,1,2015-07-06,4359,540,1,0,0,1,0,...,2735,0,2015,7,6,187,28,0,3,1485
26,1,7,2015-07-05,0,0,0,0,0,1,0,...,2734,0,2015,7,5,186,27,6,3,1484
27,1,6,2015-07-04,4797,560,1,0,0,1,0,...,2733,0,2015,7,4,185,27,5,3,1483
28,1,5,2015-07-03,4665,538,1,1,0,1,0,...,2732,0,2015,7,3,184,27,4,3,1482
29,1,4,2015-07-02,5558,573,1,1,0,1,0,...,2731,0,2015,7,2,183,27,3,3,1481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,11,1,2014-01-27,5894,1006,1,0,0,1,0,...,1112,1,2014,1,27,27,5,0,1,750
9971,11,7,2014-01-26,0,0,0,0,0,1,0,...,1111,1,2014,1,26,26,4,6,1,749
9972,11,6,2014-01-25,5709,806,1,0,0,1,0,...,1110,1,2014,1,25,25,4,5,1,748
9973,11,5,2014-01-24,7278,1050,1,1,0,1,0,...,1109,1,2014,1,24,24,4,4,1,747
9974,11,4,2014-01-23,6781,1020,1,1,0,1,0,...,1108,1,2014,1,23,23,4,3,1,746
9975,11,3,2014-01-22,8189,1159,1,1,0,1,0,...,1107,1,2014,1,22,22,4,2,1,745
9976,11,2,2014-01-21,7950,1091,1,1,0,1,0,...,1106,1,2014,1,21,21,4,1,1,744
9977,11,1,2014-01-20,9001,1223,1,1,0,1,0,...,1105,1,2014,1,20,20,4,0,1,743
9978,11,7,2014-01-19,0,0,0,0,0,1,0,...,1104,1,2014,1,19,19,3,6,1,742
9979,11,6,2014-01-18,5853,859,1,0,0,1,0,...,1103,1,2014,1,18,18,3,5,1,741
9980,11,5,2014-01-17,6485,1070,1,0,0,1,0,...,1102,1,2014,1,17,17,3,4,1,740
9981,11,4,2014-01-16,6491,1042,1,0,0,1,0,...,1101,1,2014,1,16,16,3,3,1,739
9982,11,3,2014-01-15,6500,1073,1,0,0,1,0,...,1100,1,2014,1,15,15,3,2,1,738
9983,11,2,2014-01-14,6662,1096,1,0,0,1,0,...,1099,1,2014,1,14,14,3,1,1,737
9984,11,1,2014-01-13,5808,988,1,0,0,1,0,...,1098,1,2014,1,13,13,3,0,1,736
9985,11,7,2014-01-12,0,0,0,0,0,1,0,...,1097,1,2014,1,12,12,2,6,1,735
9986,11,6,2014-01-11,4984,689,1,0,0,1,0,...,1096,1,2014,1,11,11,2,5,1,734
9987,11,5,2014-01-10,7081,1076,1,1,0,1,0,...,1095,1,2014,1,10,10,2,4,1,733
9988,11,4,2014-01-09,6945,944,1,1,0,1,0,...,1094,1,2014,1,9,9,2,3,1,732
9989,11,3,2014-01-08,8397,1152,1,1,0,1,0,...,1093,1,2014,1,8,8,2,2,1,731
9990,11,2,2014-01-07,9699,1295,1,1,0,1,0,...,1092,1,2014,1,7,7,2,1,1,730
9991,11,1,2014-01-06,9130,1163,1,1,1,1,0,...,1091,1,2014,1,6,6,2,0,1,729
9992,11,7,2014-01-05,0,0,0,0,0,1,0,...,1090,1,2014,1,5,5,1,6,1,728
9993,11,6,2014-01-04,5671,857,1,0,0,1,0,...,1089,1,2014,1,4,4,1,5,1,727
9994,11,5,2014-01-03,7563,1095,1,0,1,1,0,...,1088,1,2014,1,3,3,1,4,1,726
9995,11,4,2014-01-02,8140,1223,1,0,1,1,0,...,1087,1,2014,1,2,2,1,3,1,725
9996,11,3,2014-01-01,0,0,0,0,1,0,1,...,1086,1,2014,1,1,1,1,2,1,724
9997,11,2,2013-12-31,3813,566,1,0,1,1,0,...,1085,0,2013,12,31,365,1,1,4,723
9998,11,1,2013-12-30,11656,1568,1,0,1,1,0,...,1084,0,2013,12,30,364,1,0,4,722
9999,11,7,2013-12-29,0,0,0,0,0,1,0,...,1083,0,2013,12,29,363,52,6,4,721

##### Split into train and validation set

In [108]:
### WARNING: Je prends beaucoup moins de data pour faire tourner l'ensemble du notebook dans un premier temps
#df = df.head(10000)

In [121]:
Train, Validation = train_test_split(df, test_size=0.3)

In [122]:
Train.shape, Validation.shape

((7000, 50), (3000, 50))

In [123]:
Train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'SchoolHoliday', 'StateHoliday_0', 'StateHoliday_a', 'StateHoliday_b',
       'StateHoliday_c', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'StoreType_a', 'StoreType_b',
       'StoreType_c', 'StoreType_d', 'Assortment_a', 'Assortment_b',
       'Assortment_c', 'PromoJan', 'PromoFeb', 'PromoMar', 'PromoApr',
       'PromoMay', 'PromoJun', 'PromoJul', 'PromoAug', 'PromoSept', 'PromoOct',
       'PromoNov', 'PromoDec', 'BeginCompetition', 'BeginPromo2',
       'duree_concurence', 'promo2_today', 'year', 'month', 'day', 'dayofyear',
       'weekofyear', 'dayofweek', 'quarter', 'duree_promo2'],
      dtype='object')

### Here features we want to use for training

In [124]:
featuresToTakeForTraining = ['Customers', 'Assortment_a', 'Assortment_b', 'Assortment_c', 'StoreType_a', 'StoreType_b', 'StoreType_c',
       'StoreType_d',]

In [125]:
y_train = Train['Sales']
y_validation = Validation['Sales']

X_train = Train[featuresToTakeForTraining]
X_validation = Validation[featuresToTakeForTraining]
#X_train = Train[Train.columns.difference(['Sales'])]
#X_validation = Validation[Validation.columns.difference(['Sales'])]

### Score

In [126]:
# metrique implmente selon lar formule sur kaggle
def rmspe(yhat, y):
    sum_ = 0
    for i in range(len(y)):
        if(y[i] != 0):
            sum_ += ((y[i] - yhat[i]) / y[i]) ** 2
        
    rmspe = np.sqrt(sum_ / len(y))
        
    return rmspe

def rmspe_xg(yhat, y):
    y = y.get_label()
    return "rmspe", rmspe(yhat, y)

A voir mais normalement a donne le mme score

In [117]:
# Trouve sur kaggle il marche mieux, celui au dessus bug des fois
def ToWeight(y):
    w = np.zeros(y.shape, dtype=float)
    ind = y != 0
    w[ind] = 1./(y[ind]**2)
    return w


def rmspe(yhat, y):
    w = ToWeight(y)
    rmspe = np.sqrt(np.mean( w * (y - yhat)**2 ))
    return rmspe

# Deep Approach

## Random Forest test just to try

In [105]:
from sklearn.ensemble import RandomForestRegressor

In [114]:
rfr = RandomForestRegressor(n_estimators=200)
rfr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [115]:
ypred_train = rfr.predict(X_train)
ypred_validation =  rfr.predict(X_validation)

In [118]:
print('The train RMPSE is ', rmspe(ypred_train, y_train))
print('The validation RMPSE is ', rmspe(ypred_validation, y_validation))

The train RMPSE is  0.08715272622477833
The validation RMPSE is  0.11953128386640406

In [ ]:
ypred = rfr.predict(X_test)

## Submission Generation

In [ ]:
submission = pd.DataFrame({"Id": df_test["Id"], "Sales": ypred})
submission.to_csv("submission.csv", index=False)

# Basic ML with SKlearn approach

# Training Pipeline
#### On va mettre les bons REGRESSOR, ici pour le squelette

In [127]:
# Regressors
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
import xgboost as xgb

# Grid search
from sklearn.model_selection import GridSearchCV

C:\Users\Jolyanne\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

##### Definition of the algorithm and theirs parameters for the grid search

In [128]:
names_regressors = ["DecisionTreeClassifier", "RandomForestClassifier", "ExtraTreesClassifier", "XGBoost"]

regressors = [
    DecisionTreeRegressor(max_depth=None, min_samples_split=2, random_state=0),
    RandomForestRegressor(n_estimators = 10, max_depth = None, min_samples_split = 2, random_state = 0),
    ExtraTreesRegressor(n_estimators = 10, max_depth = None, min_samples_split = 2, random_state = 0),

    ]

### XGboost implementation

amlioration possible: Gridsearch

In [54]:
def get_prob(y):
    y[y < 0] = 0
    return y

In [58]:
params = {"objective": "reg:linear", # fonction perte => regression linaire car on prdit des ventes
          "eta": 0.3,
          "max_depth": 4, #on peut augmenter la profondeur mais augmente les chances d'overfit
          "subsample": 0.6,
          "colsample_bytree": 0.7
          }

dtrain = xgb.DMatrix(X_train, np.log(y_train + 1))
dvalid = xgb.DMatrix(X_validation, np.log(y_validation + 1))
watchlist = [(dvalid, 'eval'), (dtrain, 'train')]

model = xgb.train(params, dtrain, 30, evals = watchlist, early_stopping_rounds = 10, feval = rmspe_xg, verbose_eval = 5)

[0]	eval-rmse:5.27947	train-rmse:5.2767	eval-rmspe:0.60125	train-rmspe:0.601083
Multiple eval metrics have been passed: 'train-rmspe' will be used for early stopping.

Will train until train-rmspe hasn't improved in 10 rounds.
[5]	eval-rmse:1.14019	train-rmse:1.1395	eval-rmspe:0.12091	train-rmspe:0.120837
[10]	eval-rmse:0.2553	train-rmse:0.254899	eval-rmspe:0.027492	train-rmspe:0.027458
[15]	eval-rmse:0.17535	train-rmse:0.175021	eval-rmspe:0.019554	train-rmspe:0.019528
[20]	eval-rmse:0.167198	train-rmse:0.166852	eval-rmspe:0.019071	train-rmspe:0.019044
[25]	eval-rmse:0.165858	train-rmse:0.165488	eval-rmspe:0.019011	train-rmspe:0.01898
[29]	eval-rmse:0.165471	train-rmse:0.165083	eval-rmspe:0.018975	train-rmspe:0.018943

In [ ]:
train_probs = model.predict(xgb.DMatrix(X_train))
test_probs = model.predict(xgb.DMatrix(X_validation))

print('Error on training set ', rmspe(np.exp(get_prob(train_probs))-1, y_train.values))
print('Error on testing set ', rmspe(np.exp(get_prob(test_probs))-1, y_validation.values))

##### Training of the different algoritms

In [ ]:
scores = []
scores_train = []

# iterate over classifiers
for clf, name in zip(regressors, names_regressors):
    print (name)
    if(name != "XGBoost"):
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_validation)
        y_pred_train = clf.predict(X_train)
        score_train = rmspe(y_pred_train, y_train.values)
        score = rmspe(y_pred, y_validation.values)
        print("\t Score (trainning):", score_train, "\n")
        print("\t Score (testing):", score, "\n")
    else:
        train_probs = model.predict(xgb.DMatrix(X_train))
        test_probs = model.predict(xgb.DMatrix(X_validation))
        score_train = rmspe(np.exp(get_prob(train_probs))-1, y_train.values)
        score = rmspe(np.exp(get_prob(test_probs)) - 1, y_validation.values)
        print("\t Score (trainning):", score_train)
        print("\t Score (testing):", score)
    scores.append(score)
    scores_train.append(score_train)

##### Plot the different scores

In [ ]:
plt.figure(figsize=(16, 8))
x = np.arange(len(scores))
plt.bar(x, scores, alpha=0.5, color=["red", "green", "blue", "purple"])
plt.xticks(x, names_regressors)
plt.xlabel("Regressors")
plt.ylabel("Scores")
plt.title("Score for several regressor on testing set")
plt.show()

In [ ]:
plt.figure(figsize=(16, 8))
x = np.arange(len(scores))
plt.bar(x, scores_train, alpha=0.5, color=["red", "green", "blue", "purple"])
plt.xticks(x, names_regressors)
plt.xlabel("Regressors")
plt.ylabel("Scores")
plt.title("Score for several regressor on training set")
plt.show()

# Training with GridSearch Strategy

##### Definition of the algorithm and theirs parameters for the grid search

In [ ]:
names_regressors = ['RandomForestRegressor']
names_regressors_tunedParams = [
    ["RandomForestRegressor", RandomForestRegressor(), {"max_depth": [3, 5], "bootstrap": [True, False]}]
]

##### Training of the different algoritms

In [ ]:
scores_regressors_cv = []
for name, regressor, tunedParam in names_regressors_tunedParams:
    clf = GridSearchCV(regressor, tunedParam)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_validation)
    score = rmspe(y_pred, y_validation.values)

    print("\t Score:", score, "\n")
    
    print(name, "Best parameters :", clf.best_params_, "Accuracy:", score)
    scores_regressors_cv.append(score)

##### Plot the different scores

In [ ]:
plt.figure(figsize=(16, 8))
x = np.arange(len(scores_regressors_cv))
plt.bar(x, scores_regressors_cv, alpha=0.5, color=["red", "green", "blue", "purple"])
plt.xticks(x, names_regressors)
plt.xlabel("Classifiers")
plt.ylabel("Accuracy")
plt.title("Accuracies for several classifiers")
plt.show()

# Naive Approach

In [159]:
class Naive:
    
    def same_day(self,day1,day2):
        """Return true if day1 and day 2 are the same day juste different year"""
        return (day1.day == day2.day) and (day1.month ==day2.month)
    
    def train(self,data,target):
        #Compute the mean aggregate by Days
        X = pd.concat([data['Date'].copy() , target.copy()],axis=1)
        X['Date'] = X['Date'].apply(lambda x : (x.day,x.month))
        self.aggregate = X.groupby(['Date']).mean().reset_index()

    def predict(self,X): 
        X = X.copy()
        X['Date'] = X['Date'].apply(lambda x : (x.day,x.month))
        #Merge with the aggregate
        pred = pd.merge(pd.DataFrame(X['Date']), self.aggregate, left_on='Date', right_on='Date')
        return np.array(pred['Sales'])

In [160]:
naive_model = Naive()
naive_model.train(Train,Train['Sales'])

y_train_pred = naive_model.predict(Train)
y_valid_pred = naive_model.predict(Validation)

print('Error on training set ', rmspe(y_train_pred, y_train.values))
print('Error on testing set ', rmspe(y_valid_pred, y_validation.values))

Error on training set  0.561428744157
Error on testing set  0.53565422504

In [161]:
#Evalueate it on the kaggle dataset
naive_model = Naive()
naive_model.train(train,train['Sales'])
prediction = naive_model.predict(test)
indic = test['Id']
res = pd.DataFrame(indic)
res['Sales'] = prediction
res.to_csv('data/submission_naive.csv', index = False)

L'approche naive fait 0.54591 sur Kaggle

# Evaluation